@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

body{
	background-color: #dc3545;
}

img{
	border: 2px solid black;
	width: 150px;
	height: 150px;
}

div{
	text-align: center;
}

div.marginTop{
	margin-top: 10px;
}

button{
	border: 2px solid black;
	background-color: #f5f3f2f3;
	padding: 5px;
	margin: 20px;
	width: 120px;
	border-radius: 25px;
	font-weight: bold;
	font-family: 'ZCOOL KuaiLe', cursive;
	font-size: 15px;
}

button:hover{
	transition: 0.75s;
	background-color: black;
	color: #f5f3f2f3;
}

button#btnMenu{
	width: 200px;
}

span{
	font-family: 'ZCOOL KuaiLe', cursive;
	font-size: 40px;
	color: #f5f3f2f3;
}

span.namePlayer{
	margin: 50px;
	color: black;
}

h1{
	font-family: 'ZCOOL KuaiLe', cursive;
	color: #f5f3f2f3;
}